@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(27, 27, 27);
  color: rgb(255, 255, 255);
}

.bgNavegacion {
  background-color: black;
}
.bgNavegacion .logo {
  width: 100px;
}

.footer {
  padding: 50px;
  grid-area: footer;
  background-color: #272727;
}
.footer p {
  margin-top: 30px;
  color: white;
}
.footer .contenedorFooter {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}
.footer .contenedorFooter a {
  color: gray;
  text-decoration: none;
}
.footer .contenedorFooter a:hover {
  color: white;
}
.footer .contenedorFooter a:active {
  color: rgb(199, 211, 29);
}
.footer .contenedorFooter h4 {
  color: rgb(199, 211, 29);
  margin-bottom: 10px;
}
.footer .contenedorFooter ul {
  list-style: none;
}
.footer .contenedorFooter ul li {
  margin-bottom: 10px;
}
.footer .contenedorFooter form {
  display: flex;
}
.footer .contenedorFooter form input [type=email] {
  padding: 0 15px;
  max-width: 100%;
  width: 100%;
  height: 42px;
  border: 2px solid rgba(129, 129, 129, 0.2);
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  vertical-align: middle;
  font-size: 14px;
}
.footer .contenedorFooter form input[type=submit] {
  padding: 12px 20px;
  font-size: 13px;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  border-radius: 0;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-weight: 600;
}
.footer .contenedorFooter .logoFooter {
  width: 200px;
}
@media (max-width: 768px) {
  .footer .footer {
    padding: 20px;
  }
  .footer .contenedorFooter {
    flex-direction: column;
    align-items: center;
  }
  .footer .contenedorFooter a {
    margin-bottom: 10px;
  }
}

.mainIndex .carousel-item {
  height: 40vh;
}
.mainIndex .carousel-item img {
  height: 150%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .mainIndex .carousel-item {
    height: 30vh;
  }
}
.mainIndex .textoInicio {
  padding-top: 25px;
}
.mainIndex .textoInicio .carouselImg {
  -webkit-mask-image: linear-gradient(black 20%, transparent);
          mask-image: linear-gradient(black 20%, transparent);
}
.mainIndex .altoSeccion {
  padding-top: 6vh;
}
.mainIndex .imgFondo {
  background-image: url(../assets/img/imagen_seccionnosotrosindex.jpg);
  background-size: cover;
  background-position: center;
  -webkit-mask-image: linear-gradient(black 50%, transparent);
          mask-image: linear-gradient(black 50%, transparent);
  transition: transform 1s ease-in-out;
}
.mainIndex .imgFondo:hover {
  transform: scale(1.1);
}
.mainIndex .textoTarjetasIndex {
  color: black;
}
.mainIndex .tarjetasClasesSueltas {
  justify-content: center;
  padding: 50px;
  color: black;
}
.mainIndex .tarjetasClasesSueltas .btn-primary {
  color: #000000;
  background-color: #272727;
  border-color: #272727;
}
.mainIndex .tarjetasClasesSueltas .btn-primary:hover {
  color: #000000;
  background-color: #272727;
  border-color: #272727;
}
.mainIndex .seccionPacksLibres {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 20px;
}
.mainIndex .seccionPacksLibres .textoPacks {
  color: black;
}
@media (max-width: 768px) {
  .mainIndex .tarjetasClasesSueltas {
    padding: 20px;
  }
  .mainIndex .seccionPacksLibres {
    padding: 20px;
  }
}
.mainIndex .configEror404 {
  text-align: center;
  padding: 50px;
}
.mainIndex .configEror404 .titulo404 {
  color: rgb(199, 211, 29);
}/*# sourceMappingURL=estilos.css.map */